/*******   Navbar ***/

.divider{
    background-color: #000000; 
    height: 20px; 
    width: 1px; 
    margin-left: 10px; 
    margin-right: 10px; 
    margin-top: auto; 
    margin-bottom: auto;
}

.personal-logo{
	max-width: 64px;
	max-width: 6apx;
	margin-left: 3%;
	
}

.navbar-brand{
	font-family: "Satisfy" !important;
	font-size: 2em;
	margin-left: 10px;
	
}


/*********** CAROUSEL ******/

.carousel-item{
	
	background-position: center center;
	background-size: cover;
	min-height: 600px;
	max-height: 600px;
	background-image:url("../img/work2.jpg");

}


/*********************** Key benefits ********************/

.key-benefits{
	
	margin-top: 3%;
	
}

.bn-p>img{
	
	max-width: 48px;
	position: relative;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	
}

.bn-p{
	
	text-align: center;
	margin-bottom:4%;
	
}

.bn-p>h3{
	
	line-height: 22px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.find-more{
	height: 33px;
}




/***** Footer */


#footer{
	
	margin-top: 3%;;
	background-color: #2d3032;
}


.personal-color{
	
	color: white;
	text-align: center;
	margin-top: 20px;
	font-size: 18px;
	font-weight: bolder;

}

.email-personal{
	
	color: white;
}

.ps-social{
	
	margin-left:15%;
	margin-top: 8%;
	text-align: center;
	
}

.img-social{
	margin: 10px;
	
		
}


#copyright{
	background-color : #1f1f1f;
	font-size: 13px;
	text-align: center;
	color: white;
}


.btn-sm{
	margin-left: 80%;
	background-color: orangered;
	width: 5em;
	border-color: orangered;
}

.link{
	
	margin-left: 20%;
	margin-top: 8%;
}


.link > p > a{
	
	color: white;
	font-size: 14px;
	
}

.link > p > a:hover{
	
	color: orangered;
} 

/****************************************   Resize *******/

@media screen and (max-width:991.98px){
	
	.divider{
		
    background-color: #000000; 
    height: 1px; 
    width: 20px; 
    margin-left: 0%;  
    margin-top: auto; 
    margin-bottom: auto;
	}
	
}

